#root {
    font-family: 'Akronim', cursive;
}

#clock {
    border: 2px solid black;
    width: 900px;
    background-color: orange;
    color: white;
    font-size: 40px;
    margin: auto;
}

#time {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#date {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#head {
    margin-left: 400px;
    font-size: 90px;
}

div>ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}